body {
    background-color: gray;
    color: rgb(230, 249, 255);
    font-family: monospace , serif;
    
    
}

header {
    background-color: rgb(54, 54, 54);
    padding: 10%;
    margin: 5%;
    
}

nav {
    background-color: rgb(54, 54, 54);
    padding: 10%;
    margin: 5%;
    
}

div {
    background-color: rgb(54, 54, 54);
    padding: 10%;
    margin: 5%;
}